*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}
nav{
    background-color: whitesmoke;
    margin-bottom: 5%;
    box-shadow: 5px 10px solid pink;
}
nav ul{
    width: 200px;
    margin-right: 0 auto;
    float:right;

}
nav ul li{
    position: relative;
    display: inline-block;
    border-bottom: 1px solid;
   
}



h1{
    
    text-align: left;
    font-size: 300%;
    
}

button{
    background-color: forestgreen;
    width: 10%;
    float:left;
    position: absolutes;
}


section{

    border: 1px white solid pink;
    border-style: outset;
    width: 29%;
    padding: 2%;
    float: left;
    margin-top: 5%;
    position: absolute;
   box-shadow: 10px 20px solid white ;
 
}

#img{
    float: left;
    margin-block-start: 40%;
    display: flex;

}


#footer div{
    background-color: whitesmoke;
        padding: 10px;
        text-align: center;
        color: white;widows: 100px;
         height: 230px;
          width: 1000px; 
          border: 10px;
          
}
