*{
    
    margin: 0;
    padding: 0;
 

}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}
@nav{
    background-color: white;
    margin-bottom: 5%;
#img{
    width:12%;
}
}
nav ul{
    width: 200px;
    margin-right: 0 auto;
    float:right;

}
nav ul li{
    position: relative;
    display: inline-block;
    border-bottom: 1px solid;
    color: crimson;
   
}
#content{
    width:100%; 
    height: 100%;   
}


h1{
    
    text-align: left;
    font-size: 300%;
    
}

button{
    background-color: forestgreen;
    width: 10%;
    float:left;
    position: absolutes;
}


section{

    border: 1px white solid pink;
    border-style: outset;
    width: 29%;
    padding: 2%;
    float: left;
    margin-top: 5%;
    position: absolute;
   box-shadow: 10px 20px solid white ;
 
}
#section1{
    height: 500px; 
}
#section2{
    float: right; 
    margin-inline-start: 30%;
     height: 500px; 
}

#img{
 
    float:left;
    margin-inline-end: 40%;
}


#footer {
    background-color: whitesmoke;
        padding: 0px;
        text-align: center;
        color:black; 
        height:500px;
        margin-bottom: 80%
      
          
}
#section3{
    width: 230px; 
    height: 300px;
    margin-block-end: 80%;
}
#img2{
    float: inherit; 
    display: flex;  
}
#h4{
    margin-block-start: 60%;
}

@media (max-width:700px){
    section{
        width:100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}